{
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "always",
  "printWidth": 80,
  "quoteProps": "consistent",
  "endOfLine": "auto",
  "semi": true,
  "trailingComma": "all",
  "singleQuote": false,
  "overrides": [
    {
      "files": ["*.json", "*.yml", "*.md"],
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": "*.{ts,tsx}",
      "options": {
        "parser": "typescript"
      }
    }
  ],
  "plugins": ["prettier-plugin-tailwindcss"]
}
